<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
        <title>Home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(function () {
                submit_token_to_ajaxheader();

                function submit_token_to_ajaxheader() {
                    let token = $("meta[name='_csrf']").attr("content");
                    let header = $("meta[name='_csrf_header']").attr("content");

                    $(document).ajaxSend(function(e, xhr, options) {
                        xhr.setRequestHeader(header, token);
                    });
                }

                function new_wallet() {
                    let pattern = /^[a-zA-Z0-9!-/:-@¥[-`{-~]{5,50}$/;
                    var name;
                    while (true) {
                        name = prompt('Enter the name of your new wallet (within 5 to 50 byte chars).');
                        if (name === null) return;
                        if (name.match(pattern)) break;
                    }

                    if (!confirm(`Are you sure to create \'${name}\' ?`)) {
                        alert('Canceled');
                        return;
                    }

                    $.ajax({
                        url: '/wallet/new',
                        type: 'POST',
                        data: {'name': name},
                        async: false
                    }).done(function(data, status, xhr) {
                        alert(data['message']);
                        location.href = '/home';
                    }).fail(function(xhr, status, error) {
                        alert('Create failed.');
                    });
                }

                $('#new_wallet').click(function(){
                    new_wallet();
                });

            })
        </script>
    </head>
    <body>
        <h1 th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" style="margin-bottom: 20px; margin-top: 25px;"/>
        </form>

        <h2>Your Wallets</h2>
        <table>
            <tr th:if="${walletList.size == 0}">No wallet</tr>
            <tr th:each="wallet : ${walletList}">
                <td th:text="${wallet.name}"></td>
                <td th:text="${wallet.balance}" style="text-align: right;"></td>
                <td style="text-align: center;"><a href="/wallet" th:href="@{/wallet(name=${wallet.name})}">Enter</a></td>
            </tr>
        </table>
        <!-- New Wallet function will be inactive only in the case of miner, because miner account will be published for demo.-->
        <div th:unless="${!walletList.isEmpty and walletList.get(0).isMine}">
        <!-- <div> -->
            <input id="new_wallet" type="submit" value="New Wallet" style="margin-top: 25px;"/>
        </div>
    </body>