<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
        <title>Home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(function () {
                submit_token_to_ajaxheader();

                function submit_token_to_ajaxheader() {
                    let token = $("meta[name='_csrf']").attr("content");
                    let header = $("meta[name='_csrf_header']").attr("content");

                    $(document).ajaxSend(function(e, xhr, options) {
                        xhr.setRequestHeader(header, token);
                    });
                }

                function disp_new_wallet_area(){
                    let area = document.getElementById("new_wallet_area");

                    if(area.style.display == "block"){
                        area.style.display = "none";
                    }else{
                        area.style.display = "block";
                        document.getElementById("new_wallet_name").focus();
                    }
                }

                function create_wallet() {
                    let em = document.getElementById("message");
                    let pattern = /^[a-zA-Z0-9!-/:-@¥[-`{-~]{5,30}$/;
                    let name = String($("#new_wallet_name").val());

                    if (!name.match(pattern)) {
                        em.textContent = "Size must be between 5 and 30, and each character must be alphanumeric or underscore (A-Za-z0-9_)";
                        em.style.display = "block";
                        return;
                    }

                    if (!confirm(`Are you sure to create \'${name}\' ?`)) {
                        alert('Canceled');
                        return;
                    }

                    $.ajax({
                        url: '/wallet/new',
                        type: 'POST',
                        data: {'name': name},
                        async: false
                    }).done(function(data, status, xhr) {
                        alert(data['message']);
                        location.href = '/home';
                    }).fail(function(xhr, status, error) {
                        alert('Server Error');
                    });
                }

                $('#disp_new_wallet_area').click(function(){
                    disp_new_wallet_area();
                });
                
                $('#create_wallet').click(function(){
                    create_wallet();
                });
            })

        </script>
    </head>
    <body>
        <h1 th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" style="margin-bottom: 20px; margin-top: 30px;"/>
        </form>

        <h2>Wallets</h2>
        <p><span th:if="${walletList.size == 0}">No wallet</span>
        <table style="width: 100%; font-size: large;">
            <tr th:each="wallet : ${walletList}" style="height: 50px;">
                <td th:text="${wallet.name}" style="width: 40%;"></td>
                <td style="text-align: right; vertical-align: middle; width: 40%;font-variant-numeric: tabular-nums;"><span th:text="${wallet.getBalanceStr}">0.000000</span><span> SBC</span></td>
                <td style="text-align: center; vertical-align: middle; width: 20%;"><a href="/wallet" th:href="@{/wallet(name=${wallet.name})}">Open</a></td>
            </tr>
        </table></p>
        
        <!-- New Wallet function will be inactive only in the case of miner, because miner account will be published for demo.-->
        <div th:unless="${!walletList.isEmpty and walletList.get(0).isMine}">
        <!-- <div> -->
            <button id="disp_new_wallet_area" style="padding: 10px 30px 10px 25px;">+ New Wallet</button>
            <div id="new_wallet_area" style="display: none;">
                <p><label>wallet name</label>
                <input id="new_wallet_name" type="text" size="30">
                <em id="message" style="display: none; color:#F00;"></em></p>
                <button id="create_wallet">Create</button>
            </div>
        </div>
    </body>