<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>Send</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(function () {
                
                function submit_token_to_ajaxheader() {
                    let token = $("meta[name='_csrf']").attr("content");
                    let header = $("meta[name='_csrf_header']").attr("content");

                    $(document).ajaxSend(function(e, xhr, options) {
                        xhr.setRequestHeader(header, token);
                    });
                }

                $('#send_money_button').click(function () {
                    let confirm_text = 'Are you sure to send?';
                    let confirm_result = confirm(confirm_text);
                    if (confirm_result !== true) {
                        alert('Canceled');
                        return
                    }

                    let transaction_data = {
                        'senderPrivateKey': $('#private_key').val(),
                        'senderAddress': $('#blockchain_address').val(),
                        'recipientAddress': $('#recipient_blockchain_address').val(),
                        'senderPublicKey': $('#public_key').val(),
                        'value': $('#send_amount').val(),
                    };

                    submit_token_to_ajaxheader();
                    $.ajax({
                        url: '/transaction',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(transaction_data)
                    }).done(function(data, status, xhr) {
                        alert(data.message);
                    }).fail(function(xhr, status, error) {
                        alert('Send failed');
                    });
                });

                function reload_amount() {
                    let data = {'blockchain_address': $('#blockchain_address').val()}

                    submit_token_to_ajaxheader();
                    $.ajax({
                        url: '/wallet/amount',
                        type: 'GET',
                        data: data,
                        success: function (response) {
                            let amount = response['amount'];
                            $('#wallet_amount').text(amount);
                            console.info(amount)
                        },
                        error: function(error) {
                            console.error(error)
                        }
                    })
                }

                $('#reload_wallet').click(function(){
                    reload_amount();
                });

            //  setInterval(reload_amount, 3000)

            })
        </script>
    </head>
    <body>
        <div>
            <h1 th:text="${wallet.name}">wallet</h1>
            <div id="wallet_amount" style="font-size: x-large;">0</div>
            <button id="reload_wallet">Reload Amount</button>
            <button type="button" onclick="history.back()">Back</button>
    
            <h4>Public  Key</h4>
            <textarea id="public_key" rows="2" cols="100" th:text="${wallet.publicKey}" readonly></textarea>
    
            <h4>Private  Key</h4>
            <textarea id="private_key" rows="2" cols="100" th:text="${wallet.privateKey}" readonly></textarea>
    
            <h4>Blockchain Address</h4>
            <textarea id="blockchain_address" rows="1" cols="100" th:text="${wallet.blockchainAddress}" readonly></textarea>
        </div>
    
        <div>
            <h2>send money</h2>
            <div>
                Address: <input id="recipient_blockchain_address" size="90" type="text">
                <br>
                Amount: <input id="send_amount" type="number">
                <br>
                <button id="send_money_button">Send</button>
            </div>
        </div>
    </body>
</html>