<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
        <title>Wallet</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(function () {
                submit_token_to_ajaxheader();
                setInterval(load_balance, 10000);

                function submit_token_to_ajaxheader() {
                    let token = $("meta[name='_csrf']").attr("content");
                    let header = $("meta[name='_csrf_header']").attr("content");

                    $(document).ajaxSend(function(e, xhr, options) {
                        xhr.setRequestHeader(header, token);
                    });
                }

                function load_balance() {
                    let data = {'address': $('#address').val()}

                    $.ajax({
                        url: '/balance',
                        type: 'GET',
                        data: data,
                    }).done(function(data, status, xhr) {
                        let balance = data['balance'];
                        $('#wallet_amount').text(balance);
                    }).fail(function(xhr, status, error) {
                        alert('Server Error');
                    });
                }

                function send_money() {
                    let confirm_result = confirm('Are you sure to send?');
                    if (confirm_result !== true) {
                        alert('Canceled')
                        return
                    }

                    let transaction_data = {
                        'senderPrivateKey': $('#private_key').val(),
                        'senderPublicKey': $('#public_key').val(),
                        'senderAddress': $('#address').val(),
                        'recipientAddress': $('#recipient_address').val(),
                        'amount': $('#send_amount').val(),
                    };

                    var pattern = /^([1-9]\d*|0)(\.\d+)?$/;
                    if (!pattern.test(transaction_data.amount)) {
                        alert('Falied: Amount should be positive number')
                        return;
                    }
                    
                    $.ajax({
                        url: '/transaction',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(transaction_data)
                    }).done(function(data, status, xhr) {
                        alert(data['message']);
                    }).fail(function(xhr, status, error) {
                        alert('Server Error');
                    });
                }

                function show_info() {
                    alert($('#info').val());
                }
                
                $('#reload_button').click(function(){
                    load_balance();
                });
                
                $('#send_button').click(function(){
                    send_money();
                });
                
                $('#info_bottun').click(function(){
                    show_info();
                });
            })

        </script>
    </head>
    <body>
        <h1 th:text="${wallet.name}">wallet</h1>

        <p style="font-size:xx-large; margin: 25px 0px 15px 5px; font-variant-numeric: tabular-nums;">
            <span id="wallet_amount" th:text="${wallet.getBalanceStr}">0.00</span><span> SBC</span>
        </p>
        
        <!-- <button id="reload_button">Reload</button> -->
        <button id="info_bottun" >Information</button>
        <button id="home" onclick="location.href='./home'">Back</button>

        <details th:if="${isActive}"></details> open> <summary>Private  Key</summary> <p th:text="${wallet.privateKey}"></p> </details>
        <details th:if="${isActive}"></details> open> <summary>Public  Key</summary> <p th:text="${wallet.publicKey}"></p> </details>
        <details open> <summary>Address</summary> <p th:text="${wallet.address}"></p> </details>

        <!-- hidden -->
        <input type="hidden" id="private_key" th:value="${wallet.privateKey}" th:if="${isActive}">
        <input type="hidden" id="public_key" th:value="${wallet.publicKey}" th:if="${isActive}">
        <input type="hidden" id="address" th:value="${wallet.address}">
        <input type="hidden" id="info" th:value="${info}">

        <div th:if="${isActive}">
        <!-- <div> -->
            <h1>send money</h1>
            <div>
                <label>Address</label>
                <input id="recipient_address" type="text" size="45" autofocus="autofocus" required>

                <label>Amount</label>
                <input id="send_amount" type="number" required>

                <button id="send_button" style="margin-top: 10px;">Send</button>
            </div>
        </div>
    </body>
</html>