<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>Wallet</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(function () {
                submit_token_to_ajaxheader();

                load_balance();
                
                function submit_token_to_ajaxheader() {
                    let token = $("meta[name='_csrf']").attr("content");
                    let header = $("meta[name='_csrf_header']").attr("content");

                    $(document).ajaxSend(function(e, xhr, options) {
                        xhr.setRequestHeader(header, token);
                    });
                }

                $('#send_money_button').click(function () {
                    let confirm_text = 'Are you sure to send?';
                    let confirm_result = confirm(confirm_text);
                    if (confirm_result !== true) {
                        alert('Canceled');
                        return
                    }

                    let transaction_data = {
                        'senderPrivateKey': $('#private_key').val(),
                        'senderPublicKey': $('#public_key').val(),
                        'senderAddress': $('#address').val(),
                        'recipientAddress': $('#recipient_address').val(),
                        'value': $('#send_amount').val(),
                    };

                    if (transaction_data.senderAddress == transaction_data.recipientAddress) {
                        alert('Same address as yours');
                        return;
                    }

                    $.ajax({
                        url: '/transaction',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(transaction_data)
                    }).done(function(data, status, xhr) {
                        alert(data.message);
                    }).fail(function(xhr, status, error) {
                        alert('Send failed');
                    });
                });

                function load_balance() {
                    let data = {'address': $('#address').val()}

                    $.ajax({
                        url: '/balance',
                        type: 'GET',
                        data: data,
                    }).done(function(data, status, xhr) {
                        let balance = data['balance'];
                        $('#wallet_amount').text(balance);
                    }).fail(function(xhr, status, error) {
                        alert('Get Balance Failed');
                    });
                }

                $('#reload_balance').click(function(){
                    load_balance();
                });

                $('#home').click(function() {
                    location.href = '/home';
                });

                setInterval(load_balance, 4000);

            })
        </script>
    </head>
    <body>
        <div>
            <h1 th:text="${wallet.name}">wallet</h1>

            <div id="wallet_amount" style="font-size:xx-large; margin-bottom: 5px;">0.00</div>
            <button id="reload_balance">Reload Balance</button>
            <button id="home">Home</button>
    
            <h4>Public  Key</h4>
            <textarea id="public_key" rows="2" cols="100" th:text="${wallet.publicKey}" readonly></textarea>
    
            <h4>Private  Key</h4>
            <textarea id="private_key" rows="2" cols="100" th:text="${wallet.privateKey}" readonly></textarea>
    
            <h4>Address</h4>
            <textarea id="address" rows="1" cols="100" th:text="${wallet.address}" readonly></textarea>
        </div>
    
        <div>
            <h2>send money</h2>
            <div>
                Address: <input id="recipient_address" size="90" type="text">
                <br>
                Amount: <input id="send_amount" type="number">
                <br>
                <button id="send_money_button">Send</button>
            </div>
        </div>
    </body>
</html>